*{
padding: 0;
margin: 0;

}

.cabeçalho{
background-color: #c27057;
color: white;
display: flex;
justify-content: space-around ;
align-items: center;
padding: 24px 0;

}

.cabeçalho-imagem{

    width: 10%;

}

.cabeçalho-lista-item{

    display:inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: white;
}

.cabeçalho-div{
display: flex;

}

.cabeçalho-titulo{
padding: 60px;

}

.escola-imagem{
width: 25%;

}

.escola{
background-image: linear-gradient(#ce9684, #512a1e);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;

}

.titulo-escola{
padding: 24px 0;

}
.escola-texto-um{
padding: 24px 0;

}

.escola-div-conteudo{
width: 35%;

}